

body{
	background:rgb(255, 255, 255)!important;
}


@media only screen and (max-width: 600px){
	.sidebar{
	display: none;
	z-index: 99999999;
	visibility: hidden;
	width: 60% !important;
	height: 100%;
	position: fixed;
	background: rgb(13, 110, 253);
	padding-top: 45px;
	transition-duration: 0.3s;
	box-shadow: 1px 1px 20px rgb(110, 110, 110);
    }
    
    .content{
	 	margin-left: 0% !important;
    }

}


.sidebar{
	display: block;
	width: 18%;
	height: 100%;
	position: fixed;
	background: rgb(13, 110, 253);
	padding-top: 45px;
	transition-duration: 0.3s;
}
.sidebar a{
	display: block;
	color: rgb(255, 255, 255);
	padding: 15px 50px;
	width: 100%;
	text-decoration: none;
	font-size: 18px;
	transition-duration: 0.3s;
	
}
.sidebar a:hover{
	background: white;
	color: rgb(13,110,253);
	padding: 15px 40px;
	margin: 0px 20px;
	width: 87%;
	border-radius: 10px;
	transition-timing-function: ease-in-out;
}

.sidebar i{
	padding: 0px 20px 0px 0px;
}
.sidebar .close{
	position: absolute;
	z-index: 99px;
	top: 5px;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
	color: white;
}
.sidebar .logospace{
	display: block;
	color: rgb(255, 255, 255);
	padding: 40px 50px;
	top: -20px;
	width: 100%;
	text-decoration: none;
}



.sidebar .divider{
	height:.5px;
	width: 100%;
	background: white;
	margin: 50px 0px;
	opacity: 0.5;
}



@media only screen and (min-width: 600px){
	.toggle{
	position: absolute;
	visibility: hidden;
	font-size: 38px;
	cursor: pointer;
	padding: 20px;
	color: rgb(13, 110, 253);
	}
}
.toggle{
	position: absolute;
	font-size: 28px;
	cursor: pointer;
	padding: 20px;
	color: rgb(13, 110, 253);
	
}
.contentbody{
	padding: 60px;
}

.content{
	margin-left: 18%;
}

.activemenu{
	background: rgb(71, 145, 254);
	color: rgb(255, 255, 255);

	transition-timing-function: ease-in-out;
}