<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="/user/userbase::Layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
	<title>This is my book entry page</title>
	
</head>
<body>

<section>

<div class="wrapperchat" id="wrapperchat">

<input th:value="${receiver.user_id}" id="receiver" style="display: none; visibility:hidden"/>

<div class="messageusers" id="messageusers" style="overflow-y: scroll;">
</div>



<div class="messagecard" style="width: 50%;">

	
	<div id="messagecard-header" class=" messagecard-header">
		<img class="profile-image chat-avatar" th:src="@{'/images/'+${receiver.image}}" alt="avatar"/>
		<h4><span class="chatuserheader" th:text="${receiver.user_name}" style="color: white;"></span></h4>
	</div>
	
<div class="messagecardbody">

	<div id="chatbody" class="chats chatbody" style="overflow-y: scroll; height:580px;">
	</div>

	
	<div class="form-group msg-input" style="padding: 16px 30px;">
	<label for="chatmessage" class="form-group"></label>
	<input onkeyup="enablechatbutton()" type="text" name="chatmessage" id="chatmessage" class="form-control chatmessage" placeholder="write your message....." required/>
	<button class="btn btn-primary send-message-btn" id="submitMessage" disabled>send</button>
	</div>
	
	


</div>
</div>

</div>

</section>


</body>
</html>