<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="/user/userbase::Layout(~{::section})">
<head>
	<meta charset="UTF-8"/>
	<title>This is my first home page</title>
</head>
<body>

<section>
<h3>Top Books From Your domain</h3>

<div th:if="${topfive!=0}" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">



<div  th:each="book: ${topfive}">
	<div class="mybookscard">
		<div class="mybookscardbody">
				<div class="col md-4">
					<img class="card-img-top" th:src="@{'/images/'+${book.book.image}}"/>
					<div class="mybooks-text-body">
					<h3 th:text="${book.book.book_name}">text</h3>
					
					<div id="${book.book_id}" class="${book.book_id} ratingdiv" >
						<div class="stars-outer">
				            <div class="stars-inner" th:style=" 'width: ' + ${book.percentagerating} + 'px; '"></div>
				        </div>
				        <span class="number-rating" th:text="${book.average}"></span>
				        <span class="tota-number-rating" th:text="${'('+book.count+')'}" style="margin-left: -30px;"></span>
					</div>
		
		
					<h6>Publisher:<span class="mybooks-text" th:text="${book.book.publisher}"></span></h6>
					<h6>Author:<span class="mybooks-text" th:text="${book.book.author}"></span></h6>
					<h6>Domain:<span class="mybooks-text" th:text="${book.book.domain}"></span></h6>
					
					<form th:action="@{'/user/show-book/'+${book.book.book_id}}" >
			      <button type="submit" class="release-button btn btn-primary">view book</button>
			      </form>
					
					
				</div>
		</div>
	</div>
</div>
</div>

</section>

</body>
</html>